@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

.detail {
	width: 80%;
	margin: 0 10%;
	max-height: 90%;
}

.detail h1 {
	text-align: left;
/* 	margin: 2% 4%; */
}

.detail h2 {
	margin: 2% 0;
}

.author_img_container {
	margin-right: 4%;
	width: 50%;
	max-width: 300px;
	float: left;
}

#generalInfo {
	margin: 2% 4%;
}

.dialog {
	display: none;
}

#loadingContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #042029;
	opacity: 0.7;
	
	/* On top of all */
	z-index: 1000;
}

#loadingJello {
	position: relative;
	width: 20%;
	max-width: 75px;
	margin: 20% auto;
}

.chart rect {
	fill: #819090;
	opacity: .2;
	
}

.chart text {
	font: 14px sans-serif;
	text-anchor: end;
}

#author rect:HOVER {
	fill: white;
	opacity: 1;
	cursor: pointer;
}

.section li {
	padding: 6px 0;
}

/* #general li { */
/* 	font-family: super-font; */
/* 	font-size: 24px; */
/* 	color: white; */
/* } */

#general li, #general a {
	font-family: monospace;
	font-size: 24px;
	color: white;
}

text {
	fill: white;
}

text.name:HOVER {
	text-decoration: underline;
	cursor: pointer;
}

.axis text {
	font: 14px;
}

.axis path,
.axis line {
	fill: none;
	stroke: white;
/* 	shape-rendering: crispEdges; */
}
