@CHARSET "UTF-8";

@font-face {
	font-family: "super-font";
	src: url('../fonts/Capture_it.ttf') format('truetype');;
}

* {
	font-family: monospace;
}

body, .stage 
{
	background: #042029; 
}

.title h1 {
	font-size: 112px;
}

.title p {
	font-family: super-font,  monospace;
	font-size: 32px;
	color: white;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

h1, h2 {
	font-family: super-font,  monospace;
	font-weight: normal;
	text-align: center;
	color: white;
}

#welcome {
	text-align: center;
	visibility: hidden;
}

#map {
	position: relative;
	width: 1000px;
	height: 600px;
	margin: 0 auto;
}